body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXUwcWl5aGFpZDlnbzBidGh3OXM0YWlzbGxrM2I1aWJlNWFhYjlqYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fSRQtBAzrPokPCItuu/giphy.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo:hover{
 transform: scale(1.15);
}

.logo img {
    width: 58px;
    height: 58px;
    z-index: 2;
    position: absolute;
    border-radius: 20px;
}

.nav-links {
    display: flex;
    gap: 45px;
}

.nav-links a {
    text-decoration: none;
    color: #ced4da;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.5rem;
}

.nav-links a:hover {
    color: #f8f9fa;
    transform: scale(1.1);
}

